#gridContainer1 {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "topnav"
                       "header"
                       "versheid"
                       "footer";
}
#myTopnav {
  grid-area: topnav;
}
#header {
  grid-area: header;
}
#versheid {
  grid-area: versheid;
}
#footer {
  grid-area: footer;
}