#gridContainer2 {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "topnav topnav topnav"
                       ". title ."
                       ". tabs ."
                       "footer footer footer";
}
#myTopnav{
    grid-area: topnav;
}
#menu-title {
  grid-area: title;
}
#menu-tabs{
  grid-area: tabs;
}
#footer {
  grid-area: footer;
}